---
title: About
description: About me 
image: /images/ibara_sakura.jpg
image_description: Sakura (cherry blossoms) at Ibara Tsutsumi, Ibara, Okayama, Japan (2010)
bottom_image: /images/20080901_nishiebarasho.jpg
bottom_image_description: Teaching kids at Nishiebara Elementary School, Ibara, Okayama, Japan (2008)
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">About</h1>
			<p class="subtext editable">Self-intro</p>
			<div class="cta button alt"><a href="/contact/">Next...</a></div>
	    </div>
	</div>
    <div class="learn-more"><a href="#learn-more">More...<span class="arrow">&#x25BC;</span></a></div>
    {% if page.image_description %} 
      <p class="image-attribution">
          <i>{{ page.image_description }}</i> 
      </p>
    {% endif %}
</section>


<section class="pad">
	<div class="container" id="learn-more">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://mastodon.sdf.org/@{{ person.name }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
                    {% include about_{{ person.name }}.html %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h2 class="editable">snowdusk</h2>
			<p class="subtext editable">Where do you want to go today?</p>
			<div class="cta button alt"><a href="/contact/">Next...</a></div>
		</div>
	</div>
    {% if page.bottom_image_description %} 
      <p class="image-attribution">
          <i>{{ page.bottom_image_description }}</i> 
      </p>
    {% endif %}
</section>
