---
title: Contact
description: Talk to me... 
image: /images/enkai.jpg 
image_description: Ibara City Board of Education's year-end party (enkai), Ibara, Okayama, Japan (2006)
bottom_image: /images/tuna_melt.jpg
bottom_image_description: Ibara International Festival, Ibara, Okayama, Japan (2008)
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Contact</h1>
			<p class="subtext editable">Talk to me... please</p>
			<div class="cta button alt"><a href="/search/">Next...</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">More...<span class="arrow">&#x25BC;</span></a></div>
</section>

<section class="pad" id="learn-more">
  <div class="container">
      <ul>
        <li>e-mail: snowdusk @ ma.sdf.org</li>
        <li>PGP (snowdusk @ ma.sdf.org - FE24F72C): <a href="/contact/snowdusk_FE24F72C_public.txt">text</a> | <a href="/contact/snowdusk_FE24F72C_public.asc">asc</a></li>
        <li>Gopher: 
          <ul>
            <li><a href="gopher://gopher.club:70/1/users/snowdusk/">gopher://gopher.club:70/1/users/snowdusk/</a> (gopher client required)</li>
            <li><a href="https://gopher.floodgap.com/gopher/gw?=gopher.club+70+312f75736572732f736e6f776475736b2f">gopher://gopher.club:70/1/users/snowdusk/</a> (via www/html proxy)</li>
          </ul>
        </li>
        <li>Social Media:
          <ul>
             <li><a href="https://mastodon.sdf.org/@snowdusk">Mastodon</a></li>
             <li><a href="https://soundcloud.com/snowdusk">Soundcloud</a></li>
             <li><a href="https://www.instagram.com/snowdusk_/">Instagram</a></li>
             <li><a href="https://pixelfed.sdf.org/@snowdusk">Pixelfed</a></li>
             <li><a href="https://www.youtube.com/channel/UCr4FgY_Wb0l5ahCoynqEICw">Youtube</a></li>
             <li><a href="https://toobnix.org/@snowdusk_channel">Toobnix</a></li>
             <li><a href="https://www.threads.net/@snowdusk_">Threads</a></li>
             <li><a href="https://vimeo.com/garyg3">Vimeo</li>
             <li><a href="https://gravatar.com/snowdusk1">Gravatar</a></li>
             <li><a href="https://serato.com/playlists/id:6256557">Serato DJ</a></li>
          </ul>
        </li>
        <li>Live chat:
          <ul>
            <li><a href="https://sdf.org/?tutorials/comnotirc">COMMODE</a> (or 'com' - a chat program on the <a href="http://sdf.org">SDF Public Access UNIX System</a>: 'snowdusk' in the 'anonradio' room</li>
            <li><a href="https://en.wikipedia.org/wiki/Internet_Relay_Chat">IRC</a>:
              <ul>
                <li>'snowdusk' <a href="https://sdf.org/?tutorials/irc-channels">SDF IRC</a> #sdf #anonradio</li>
                <li>'snowdusk' <a href="https://tilde.chat">Tilde Chat</a> #tilderadio #tilderadio-djs</li>
              </ul>
            </li>  
          </ul>
       </li>
      </ul>
  </div>
</section>
<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h2 class="editable">snowdusk</h2>
			<p class="subtext editable">Where do you want to go today?</p>
			<div class="cta button alt"><a href="/blog/">Next...</a></div>
		</div>
	</div>
    {% if page.bottom_image_description %} 
      <p class="image-attribution">
          <i>{{ page.bottom_image_description }}</i> 
      </p>
    {% endif %}
</section>
