---
title: Home
description: My home on the WWW 
image: /images/bike_mika.jpg 
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">snowdusk</h1>
			<p class="subtext editable">My home on the WWW</p>
			<div class="cta button alt"><a href="/blog/">Next...</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">More...<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Intergalactic Wasabi Mix</h2>
				<p class="editable">My Internet radio show on aNONradio.net</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/igwm-back-old-timeslot.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">About</h2>
				<p class="editable">More about me...</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/20081108_ibara_ramen.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Contact</h2>
				<p class="editable">Talk to me...</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/enkai.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Some random photos</h2>
				<p class="subtext editable">Not sure what to do with this section yet...</p>
				<div class="cta button alt"><a href="/blog/">Next...</a></div>
			</div>
		</div>
	</section>
</div>
