---
title: Home
description: My home on the WWW 
image: /images/bike_mika.jpg 
image_description: Riding our "charis" around Ibara, Okayama, Japan (2005)
bottom_image: /images/izumo_taisha.jpg
bottom_image_description: Izumo Taisha, Izumo, Shimane, Japan (2009)
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">snowdusk</h1>
			<p class="subtext editable">My home on the WWW</p>
			<div class="cta button alt"><a href="/blog/">Next...</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">More...<span class="arrow">&#x25BC;</span></a></div>
    {% if page.image_description %} 
      <p class="image-attribution">
          <i>{{ page.image_description }}</i> 
      </p>
    {% endif %}
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Intergalactic Wasabi Mix</h2>
                <p class="editable">My Internet radio show on aNONradio.net. <a href="/intergalactic/">Click here.</a></p>
			</div>
			<div class="image">
				<img class="editable" src="/images/igwm_poster_20231221_600.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">About</h2>
                <p class="editable">More about me... <a href="/about/">Click here</a>.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/on_the_way_to_izumo_no_mask.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Contact</h2>
                <p class="editable">Talk to me... <a href="/contact/">Click here</a>.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/shinkansen.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>
</div>

<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h2 class="editable">snowdusk</h2>
			<p class="subtext editable">Where do you want to go today?</p>
			<div class="cta button alt"><a href="/blog/">Next...</a></div>
		</div>
	</div>
    {% if page.bottom_image_description %} 
      <p class="image-attribution">
          <i>{{ page.bottom_image_description }}</i> 
      </p>
    {% endif %}
</section>
