---
title: Search 
description: Search my blog 
image: /images/bike_close_eyes.jpg 
image_description: With my "mamachari" (bicyle), Ibara, Okayama, Japan (2005)
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
            <h1 class="editable">{{ page.title }}</h1>
            <p class="subtext editable">{{ page.description }}</p>
		<div class="cta button alt"><a href="/past/">Next...</a></div>
        </div>
    </div>
	<div class="learn-more"><a href="#learn-more">More...<span class="arrow">&#x25BC;</span></a></div>
    {% if page.image_description %} 
      <p class="image-attribution">
          <i>{{ page.image_description }}</i> 
      </p>
    {% endif %}
</section>
<section class="pad" id="learn-more">
    <div class="container">
        <h1>Go ahead... Type away... Don't be shy...</h1>
      {% include search_ui.html %}
    </div>
</section>
<section class="hero" id="bottom-hero-js-target">
    <div class="inner-hero text-container">
		<div class="hero-text-container">
            <h2 class="editable">{{ page.title }}</h2>
            <p class="subtext editable">{{ page.description }}</p>
			<div class="cta button alt"><a href="/past/">Next...</a></div>
		</div>
	</div>
    <p class="image-attribution">
        <i></i>
    </p>
</section>
