---
title: Tags 
description: Choose a topic... 
image: /images/bunny_island.jpg
image_description: Interacting with resident bunnies on Ōkunoshima (Bunny Island), Hiroshima, Japan (2009) 
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Tags</h1>
			<p class="subtext editable">Choose a topic...</p>
		</div>
	</div>
</section>
{% if page.image_description %} 
   <p class="image-attribution">
       <i>{{ page.image_description }}</i> 
   </p>
{% endif %}

<section class="pad">
	<div class="container">
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="site-tag">
    <a href="/tag/{{ tag | first | slugify }}/"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>
{% endfor %} 
	</div>
</section>
