---
title: Show Audio Samples 
description: Show Audio Samples 
image: /images/igwm-poster-cdj-350-dark.jpg 
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
            <h1 class="editable">{{ page.title}}</h1>
            <p class="subtext editable">{{ page.description }}</p>
			<div class="cta button alt"><a href="/about/">Next...</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">More...<span class="arrow">&#x25BC;</span></a></div>
    {% if page.image_description %} 
      <p class="image-attribution">
          <i>{{ page.image_description }}</i> 
      </p>
    {% endif %}
</section>

<section class="pad" id="learn-more">
  <div class="container">
    <p>
      <h2>Current</h2>
		  <h3>radio spots</h3>
		  <ul>
            <li><a href="/old/intergalactic/files/spot_1.mp3">spot_1.mp3 (1.0mb)</a></li>
            <li><a href="/old/intergalactic/files/spot_2.mp3">spot_2.mp3 (1.6mb)</a></li>
            <li><a href="/old/intergalactic/files/spot_3.mp3">spot_3.mp3 (1.6mb)</a></li>
            <li><a href="/old/intergalactic/files/spot_4.mp3">spot_4.mp3 (1.5mb)</a></li>
          </ul>
		  <h3>other samples</h3>
		  <ul>
            <li><a href="/old/intergalactic/files/mamonaku.mp3">mamonaku.mp3 (585kb)</a></li>
            <li><a href="/old/intergalactic/files/anon_welcome.mp3">anon welcome.mp3 (683kb)</a></li>
            <li><a href="/old/intergalactic/files/anon_you_are.mp3">anon you are.mp3 (689kb)</a></li>
            <li><a href="/old/intergalactic/files/anon_you_have.mp3">anon you have.mp3 (698kb)</a></li>
            <li><a href="/old/intergalactic/files/anon_thank_you.mp3">anon thank you.mp3 (765kb)</a></li>
            <li><a href="/old/intergalactic/files/offensive_materials_warning.mp3">offensive_materials_warning.mp3 (246kb)</a></li>
            <li><a href="/old/intergalactic/files/caution_ultra_low_bass.mp3">caution_ultra_low_bass.mp3 (160kb)</a></li>
            <li><a href="/old/intergalactic/files/warning_cheeseyness.mp3">warning_cheeseyness.mp3 (227kb)</a></li>
          </ul>
      <h2>Older</h2>
      <ul>
          <li><a href="/old/intergalactic/files/old_spot_lets_all_listen.mp3">old_spot_lets_all_listen.mp3 (494kb)</a></li>
          <li><a href="/old/intergalactic/files/old_spot_1.mp3">old_spot_1.mp3 (1.9mb)</a></li>
          <li><a href="/old/intergalactic/files/old_spot_2.mp3">old_spot_2.mp3 (1.6mb)</a></li>
          <li><a href="/old/intergalactic/files/old_spot_3.mp3">old_spot_3.mp3 (1.9mb)</a></li>
          <li><a href="/old/intergalactic/files/old_spot_4.mp3">old_spot_4.mp3 (2.1mb)</a></li>
          <li><a href="/old/intergalactic/files/old_spot_5.mp3">old_spot_5.mp3 (2.0mb)</a></li>
          <li><a href="/old/intergalactic/files/old_spot_6.mp3">old_spot_6.mp3 (603kb)</a></li>
      </ul>
    </p>
  </div>
</section>
<section class="hero" id="bottom-hero-js-target">
    <div class="inner-hero text-container">
		<div class="hero-text-container">
            <h2 class="editable">{{ page.title }}</h2>
            <p class="subtext editable">{{ page.description }}</p>
			<div class="cta button alt"><a href="/about/">Next...</a></div>
		</div>
	</div>
    <p class="image-attribution">
        <i></i>
    </p>
</section>
