.blog-posts {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1em;

	li {
		padding: 50px 0;
	}

	.blog-post {
		padding: 18px 0;

		&:first-child {
			padding-top: 50px;
		}

		.post-details {
			padding-top: 15px;

		}
	}
}

.blog-post {

	.author {
		padding: 30px 0 0 0;
		border: 1px solid #eee;
		margin: 30px 0;
		font-size: .8em;

		.square-image {
			width: 125px;
			height: 125px;
		}
		.blurb {
			text-align: center;
		}
	}
	h3 {
		margin: 0;
		a {
			color: #000;
			text-decoration: none;
			font-weight: normal;
			font-size: 1.3em;
		}
	}

	h2 {
		text-align: left;
		font-size: 2.6em;
		margin: 0;
	}

	.post-details {
		border-bottom: 1px solid #eee;
		font-size: .9em;
		margin: 0;
		padding: 40px 0 0 0;

		.blog-filter {
			display: inline-block;
			text-align: left;

			a {
				position: relative;
				top: -5px;
			}
		}

		a {
			text-decoration: none;
		}

		.post-date {
			float: right;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.post-content {
		padding: 0 0 40px 0;

		.button {
			margin: 30px 0 0 0;
		}
	}
}

.pagination {
	text-align: center;
}

.blog-filter {
	text-align: center;
	a {
		background: #eee;
    padding: 3px 5px;
    font-size: .8em;
    border-radius: 5px;
    color: #888;
		transition: .2s ease-in-out;

		&:hover {
			color: #555;
			text-decoration: none;
		}
	}
}

.blog-filter.cross a {
	padding-right: 8px;

	&:after {
		content: "x";
		font-size: .5em;
		position: relative;
		bottom: 4px;
		right: -3px;
	}
}

.change-category {
	margin: 0;
	padding: 30px 0;
}

.blog-navigation {
	font-size: 14px;
	display: block;
	width: auto;
	overflow: hidden;
	a {
		display: block;
		width: 50%;
		float: left;
		margin: 1em 0;
	}

	.next {
		text-align: right;
	}
}

.pagination {
	padding: 30px
}

/* Standard Desktop Parallax Effect */
.hero {
    min-height: 50vh; 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    /* ... other styles ... */
}

/* Disable background-attachment: fixed for mobile/small screens */
@media screen and (max-width: 768px) {
    .hero {
        /* Set background-attachment back to its default value */
        background-attachment: scroll !important; 
        
        /* Ensure the image is correctly centered and sized on mobile */
        background-position: center center !important; 
        background-size: cover !important;
    }
}

.image-attribution {
    position: absolute;
    bottom: 10px; 
    right: 15px; 
    font-size: 0.8rem; /* Small font size */
    color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    z-index: 15; 
    margin: 0;
}
