---
title: Show Posters 
description: Some show eye candy stuff
image: /images/igwm-poster-old-dark.jpg 
image_description: poster
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
            <h1 class="editable">{{ page.title}}</h1>
            <p class="subtext editable">{{ page.description }}</p>
			<div class="cta button alt"><a href="/about/">Next...</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">More...<span class="arrow">&#x25BC;</span></a></div>
    {% if page.image_description %} 
      <p class="image-attribution">
          <i>{{ page.image_description }}</i> 
      </p>
    {% endif %}
</section>
<section class="pad" id="learn-more">
	<div class="container">
		<p>
			<img src="/images/igwm_poster_20231221_600.jpg"><br>
			<font size="-1"><i>current show poster (from 2023/08/24)</i></font>
		</p>
		<p>
			<img src="/old/intergalactic/files/igwm_poster_20210905_600.jpg"><br>
			<font size="-1"><i>show poster 2021/09/04-2023/08/23</i></font>
		</p>
		<p>
			<img src="/old/intergalactic/files/igwh_poster_600.jpg"><br> 
			<font size="-1"><i>show poster 2021/06/21-2021/07/22</i></font>
		</p>
		<p>
			<img src="/old/intergalactic/files/igwm_poster.jpg"><br>
			<font size="-1"><i>show poster 2015/08/23-2020/06/14</i></font>
		</p>    
		<p>
			<img src="/images/igwm_poster_20231221_600.jpg"><br>
			<a href="/images/igwm_poster_20231221_full.jpg">Download full poster (631K)</a>
		</p>
		<p>
			<img src="/old/intergalactic/files/igwm_poster_catmonaut.jpg"><br>
			<a href="/old/intergalactic/files/igwm_poster_catmonaut_dl.png">Download full poster (2.5MB)</a>
		</p>
		<p>
			<img src="/old/intergalactic/files/igwm_poster_cdj-350_green.jpg"><br>
			<a href="/old/intergalactic/files/igwm_poster_cdj-350_green_dl.png">Download full poster (1.4MB)</a>
		</p>
		<p>
			<img src="/old/intergalactic/files/igwm_poster_vaporwave_cat_600.jpg"><br>
			<a href="/old/intergalactic/files/igwm_poster_vaporwave_cat_1057.jpg">Download larger version (195KB)</a>
		<p>
			<img src="/old/intergalactic/files/igwm_poster_panic_cat_moog_600.jpg"><br>
			<a href="/old/intergalactic/files/igwm_poster_panic_cat_moog_1195.jpg">Download larger version (249KB)</a>
		</p>
		<p>
			<img src="/old/intergalactic/files/igwm_poster_moog_600.jpg"><br>
			<a href="/old/intergalactic/files/igwm_poster_moog_720.jpg">Download larger version (229KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_creepy_piano_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_creepy_piano_1024.jpg">Download larger version (248KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_cat_on_moog_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_cat_on_moog_1440.jpg">Download larger version (202KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_cat_on_303_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_cat_on_303_1024.jpg">Download larger version (237KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_disco_death_star_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_disco_death_star_800.jpg">Download larger version (207KB)</a>
		</p> 
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_cat_on_korg_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_cat_on_korg_1280.jpg">Download larger version (322KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_lee_scratch_perry_1_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_lee_scratch_perry_1_1024.jpg">Download larger version (699KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_lee_scratch_perry_2_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_lee_scratch_perry_2_743.jpg">Download larger version (91KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_giant_laser_eye_cat_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_giant_laser_eye_cat_800.jpg">Download larger version (246KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_flying_kittens _laser_eyes_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_flying_kittens _laser_eyes_600.jpg">Download this poster (67KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_astronaut_cat_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_astronaut_cat_600.jpg">Download this poster (120KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_dj_cat_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_dj_cat_736.jpg">Download larger version (238KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_clown_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_clown_1062.jpg">Download larger version (518KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_drummer_boy_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_drummer_boy_768.jpg">Download larger version (115KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_vince_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_vince_736.jpg">Download larger version (262KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_robot_boy_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_robot_boy_600.jpg">Download this poster (153KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_radio_wave_children_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_radio_wave_children_680.jpg">Download larger version (76KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_giant_cat_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_giant_cat_1000.jpg">Download larger version (177KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_kitten_on_arturia_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_kitten_on_arturia_1386.jpg">Download larger version (521KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_androidbaby_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_androidbaby_1024.jpg">Download larger version (219KB)</a>
		</p>
		<p>
		  <img src="/old/intergalactic/files/igwm_poster_phonemasks_600.jpg"><br>
		  <a href="/old/intergalactic/files/igwm_poster_phonemasks_640.jpg">Download larger version (87KB)</a>
		</p>
  </div>
</section>
<section class="hero" id="bottom-hero-js-target">
    <div class="inner-hero text-container">
		<div class="hero-text-container">
            <h2 class="editable">{{ page.title }}</h2>
            <p class="subtext editable">{{ page.description }}</p>
			<div class="cta button alt"><a href="/about/">Next...</a></div>
		</div>
	</div>
    <p class="image-attribution">
        <i></i>
    </p>
</section>
