---
title: Intergalactic Wasabi Mix 
description: Intergalactic Wasabi Mix 
image: /images/cdjs.jpg 
image_description: Pioneer CDJ-350W x2 and DJM-350W
bottom_image: /images/studio.jpg
bottom_image_description: My "studio"
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Intergalactic Wasabi Mix</h1>
			<p class="subtext editable">My Internet Radio Show On aNONradio.net</p>
			<div class="cta button alt"><a href="/about/">Next...</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">More...<span class="arrow">&#x25BC;</span></a></div>
    {% if page.image_description %} 
      <p class="image-attribution">
          <i>{{ page.image_description }}</i> 
      </p>
    {% endif %}
</section>

<div class="content">
<section class="info" id="learn-more">
	<div class="container">
		<p>
			<img src="/images/igwm_poster_20231221_600.jpg"><br>
      			<font size="-1"><i>current show poster (from 2023/08/24)</i></font>
		</p>
		<p><a href="/tag/playlists/">Playlists</a> | <a href="/intergalactic/show_posters/">Show Posters</a> | <a href="/intergalactic/show_audio_samples/">Show Samples</a></p>
		<p>Please tune in to my live DJ mix show on <a href="https://aNONradio.net">aNONradio.net</a> every Saturday and Sunday, from 23:00 to 24:00 UTC. Click <a href="https://anonradio.net/listen/">here</a> for instructions on how to tune in.</p>
		<p>I play all kinds of sub-genres of electronic dance music, both current and classic, but mostly classic, My favourite electronic dance music genres are house, acid house, techno, minimal techno, drum ‘n bass, UK Garage, electro, breakbeats, Italo-disco, hi-NRG, space disco, EBM, just to name a few.</p>
		<p>I also play musical genres other than electronic dance music as well. I am also the "secret" DJ behind <a href="https://mastodon.sdf.org/@djlucas">"THE DJ LUCAS THE ANARCHIST SHOW"</a>, <a href="https://mastodon.sdf.org/@anondjdan">"Blast From The Past with DJ Daniel"</a>, and <a href="https://mastodon.sdf.org/@dj_kyoko">"DJ KYOKO TIME"</a> on aNONradio.net's <a href="https://anonradio.net/openmic/">OpenMic</a>, and in the past, "DJ Kate's Tales From The Crate" and "DJ KYOKO TIME" on <a href="https://tilderadio.org">Tilderadio</a>.</p> 
		<p>You can listen to all of my archived livestreams through my <a href="https://soundcloud.com/snowdusk">Soundcloud page</a> or through <a href="/index.html">blog</a>.</p>
		<p><a href="/tag/playlists/">Playlists</a> | <a href="/intergalactic/show_posters/">Show Posters</a> | <a href="/intergalactic/show_audio_samples/">Show Samples</a></p>
	</div>
</section>
</div>

<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h2 class="editable">snowdusk</h2>
			<p class="subtext editable">Where do you want to go today?</p>
			<div class="cta button alt"><a href="/about/">Next...</a></div>
		</div>
	</div>
    {% if page.bottom_image_description %} 
      <p class="image-attribution">
          <i>{{ page.bottom_image_description }}</i> 
      </p>
    {% endif %}
</section>
