---
layout: default
---
<section class="hero" style="background-image: url(/images/bunny_island.jpg">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
            <h1 class="editable">#{{ page.title }}</h1>
			<p class="subtext editable">Get tagged...</p>
			<div class="cta button alt"><a href="/">Go back to home page</a></div>
	    </div>
	</div>
    <div class="learn-more"><a href="#learn-more">More...<span class="arrow">&#x25BC;</span></a></div>
      <p class="image-attribution">
          <i>Interacting with resident bunnies on Ōkunoshima (Bunny Island), Hiroshima, Japan (2009)</i> 
      </p>
</section>
<section>
	<div class="text-container" id="learn-more">
        <br>
        <br>
        <br>
        <p class="change-category">You're currently looking at a list of posts with the tag <tt>{{ page.title }}</tt>. <a href="{{ site.baseurl }}/blog/">View all posts</a> instead or <a href="/tags/">click here to view all tags</a>.</p>

		<ul class="blog-posts">
			{% include list-posts.html posts=page.posts %}
		</ul>
	</div>
</section>
<section class="hero" style="background-image: url(/images/setouchi.jpg">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h2 class="editable">snowdusk</h2>
			<p class="subtext editable">Where do you want to go today?</p>
			<div class="cta button alt"><a href="/">Go back to home page</a></div>
		</div>
	</div>
      <p class="image-attribution">
          <i>Setouchi, Okayama, Japan (2009)</i> 
      </p>
</section>
